<?xml version="1.0" ?>
<model>
    <name>vertical_fire_holder</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Fran Real</name>
        <email>freal@us.es</email>
    </author>
    <description>Vertical fire holder for Challenge 3</description>
</model>
