<?xml version="1.0"?><robot xmlns:xacro="http://www.ros.org/wiki/xacro"><xacro:include filename="$(find challenge_worlds)/urdf/includes/brick_link.xacro" /><macro name="single_brick" params="id pose"><model name="${id}.pile"><pose>${pose}</pose><self_collide>true</self_collide>
<brick_link id2="0" id="0" type="brick" sx="0.6" sy="0.2" sz="0.2" mass="1.0" material="Gazebo/Orange" pose="0.0 0.0 0.1 0 0 0" /></model></macro></robot>
