<launch>
    <arg name="ns" default=""/>

    <include file="$(find rflex)/launch/rflex.launch" >
        <arg name="ns" value="$(arg ns)/rflex"/>
        <arg name="serialPort" value="/dev/ttyUSB0"/>
    </include>

    <include file="$(find xbow6x)/launch/xbow6x.launch" >
        <arg name="ns" value="$(arg ns)/xbow6x"/>
        <arg name="serialPort" value="/dev/ttyUSB1"/>
        <arg name="frame_id" value="cbimu_frame"/>
    </include>

    <include file="$(find atrvjr)/launch/mpuimu.launch" >
        <arg name="ns" value="$(arg ns)/atrvjr/mpu"/>
        <arg name="port" value="/dev/mpuimu"/>
        <arg name="imu_frame_id" value="mpuimu_frame"/>
        <arg name="frame_id" value="mpuimu_frame"/>
        <arg name="tf_frame_id" value="mpuimu_frame"/>
    </include>

    <!--<include file="$(find atrvjr)/launch/hokuyo.launch" >
        <arg name="ns" value="$(arg ns)/atrvjr/hokuyo"/>
        <arg name="port" value="/dev/utm30lx"/>
        <arg name="frame_id" value="lrf_frame"/>
        <arg name="topic_name" value="/scan_combined"/>
    </include>-->

    <include file="$(find teleop_twist_joy)/launch/teleop.launch" />
</launch>
