<?xml version="1.0"?>
<robot>
  <macro name="magnetic_gripper" params="parent *origin robot_name">
    <joint name="gripper_attach_joint" type="fixed">
      <insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="gripper_link"/>
    </joint>
    <link name="gripper_link">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.01"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.1 0.1 0.05" />
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.1 0.1 0.05" />
        </geometry>
      </visual>
    </link>
    <gazebo>
      <plugin name="ros_gripper" filename="libmagnetic_gripper_plugin.so">
            <robot_name>${robot_name}</robot_name>
            <!-- We are forced to magnetize the parent link because of gazebo
                 automatically lumping fixed joints. This can be prevented just from
                 SDF 5.0 onwards:
                 http://answers.gazebosim.org/question/21118/converting-urdf-to-sdf-preservefixedjoint-not-working -->
            <gripper_link_name>${parent}</gripper_link_name>
          </plugin>
    </gazebo>
  </macro>
</robot>
