<?xml version="1.0"?>
<launch>
  <arg name="robot_model" default="mbzirc2020" />
  <arg name="agent_id" default="1" />

  <group ns="$(arg robot_model)_$(arg agent_id)">
    <node pkg="tf2_ros" type="static_transform_publisher" name="uav_base_to_gripper_tf" args="0 0 -0.3 0 0 0 $(arg robot_model)_$(arg agent_id)/base_link $(arg robot_model)_$(arg agent_id)/gripper_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="uav_base_to_sf11_tf" args="-0.28 0.28 -0.05 0 1.57079632679 0 $(arg robot_model)_$(arg agent_id)/base_link $(arg robot_model)_$(arg agent_id)/sf11_link" />

    <node name="actuators" pkg="actuators_system" type="actuators_system_node">
      <param name="serial_path" value="/dev/actuators"/>
      <param name="serial_baudrate" value="9600"/>
    </node>

    <node name="sf11" pkg="sf11_driver" type="sf11_driver_node" output="screen">
      <param name="frame_id" type="string" value="$(arg robot_model)_$(arg agent_id)/sf11_link"/>
      <param name="serial_path" value="/dev/sf11"/>
      <param name="serial_baudrate" value="115200"/>
      <param name="publish_rate" value="20"/>
    </node>
  </group>
</launch>