<?xml version="1.0"?>
<launch>
  <arg name="robot_model" default="mbzirc2020" />
  <arg name="agent_id" default="1" />
  <arg name="mode" default="real" />

  <group ns="$(arg robot_model)_$(arg agent_id)">
    <node pkg="tf2_ros" type="static_transform_publisher" name="uav_base_to_camera_control_tf" args="0.17 0 -0.16 0 0 0 $(arg robot_model)_$(arg agent_id)/base_link $(arg robot_model)_$(arg agent_id)/camera_control_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_control_to_camera_tf" args="0 0 0 0 1.57079632679 3.141592 $(arg robot_model)_$(arg agent_id)/camera_control_link $(arg robot_model)_$(arg agent_id)/camera_link" />
    <node if="$(eval mode == 'sim')" pkg="tf2_ros" type="static_transform_publisher" name="camera_to_optical_tf" args="0 0.05 0 0.5 -0.5 0.5 -0.5 $(arg robot_model)_$(arg agent_id)/camera_link $(arg robot_model)_$(arg agent_id)/camera_color_optical_frame" />

    <node name="object_detection" pkg="hue_object_detection" type="hsv_detection_node" output="screen">
      <param name="agent_id" value="$(arg agent_id)" />
      <param name="tf_prefix" value="$(arg robot_model)_$(arg agent_id)" />
      <param name="camera_url" value="camera/color" />
      <param if="$(eval mode == 'sim')" name="config_filename" value="hsv_config_sim.yaml" />
      <remap if="$(eval mode == 'sim')" from="camera/color/image_raw" to="camera/color/image_rect_color"/>
    </node>

    <include if="$(eval mode == 'real')" file="$(find realsense2_camera)/launch/rs_rgbd.launch">
      <arg name="tf_prefix"           value="$(arg robot_model)_$(arg agent_id)/camera"/>
      <arg name="enable_pointcloud"   value="false"/>

      <arg name="enable_depth"        value="true"/>
      <arg name="enable_infra1"       value="true"/>
      <arg name="enable_infra2"       value="true"/>

      <arg name="enable_color"        value="true"/>
      <arg name="color_width"         value="640"/>
      <arg name="color_height"        value="480"/>
    </include>
  </group>
</launch>