<?xml version="1.0"?>
<launch>

    <arg name="robot_model" default="mbzirc2020"/>
    <arg name="arena_yaw" default="-0.2968107"/>


	<node name="c2_dispatcher" pkg="robot_tasks" type="c2_dispatcher_coop.py" respawn="false" output="screen">

		<param name="column_count" value="4"/>
		<rosparam param="uav_ids">["4", "6"]</rosparam>
		<param name="conf_file" value="$(find mbzirc_launchers)/config/conf_ch2.yaml" />
		<param name="wall_file" value="$(find mbzirc_launchers)/config/uav_wall.txt" />
		<param name="init_task" value="1" />
			
	</node>
    
    <node name="simple_regions_manager" pkg="shared_regions_manager" type="simple_regions_manager.py"/>


</launch>
