<?xml version="1.0"?>
<launch>
	
	<node name="c2_dispatcher" pkg="robot_tasks" type="c2_test.py" respawn="false" output="screen">

	<param name="column_count" value="4"/>
	<rosparam param="uav_ids">["1", "2", "3"]</rosparam>
	<param name="conf_file" value="$(find mbzirc_launchers)/config/conf_ch3.yaml" />
	<param name="wall_file" value="$(find mbzirc_launchers)/config/uav_wall.txt" />
        
	</node>

</launch>
