<?xml version="1.0"?>
<launch>

    <arg name="mode" default="sim"/>
    <arg name="robot_model" default="dji_f550_c1"/>

    <group if="$(eval mode == 'sim')">
        <!-- Launch Gazebo simulation -->
        <rosparam param="/use_sim_time">true</rosparam>
        <include file="$(find challenge_worlds)/launch/challenge1.launch"/>
    </group>

    <node name="shared_regions_manager" pkg="shared_regions_manager" type="shared_regions_manager.py"/>

    <include file="$(find mbzirc_launchers)/launch/uav_agent_c1.launch">
        <arg name="robot_model" value="$(arg robot_model)"/>
        <arg name="agent_id" value="1"/>
        <arg name="color" value="Orange"/>
        <arg name="flight_level" value="2.0"/>
        <arg name="x" value="5"/>
        <arg name="y" value="0"/>
        <arg name="z" value="0"/>
        <arg name="yaw" value="1.570796327"/>
        <arg name="ual_backend" value="mavros"/>
    </include>

    <include file="$(find mbzirc_launchers)/launch/uav_agent_c1.launch">
        <arg name="robot_model" value="$(arg robot_model)"/>
        <arg name="agent_id" value="2"/>
        <arg name="color" value="Indigo"/>
        <arg name="flight_level" value="3.0"/>
        <arg name="x" value="5"/>
        <arg name="y" value="5"/>
        <arg name="z" value="0"/>
        <arg name="yaw" value="1.570796327"/>
        <arg name="ual_backend" value="mavros"/>
    </include>
</launch>
