<?xml version="1.0" ?>
<model>
    <name>Challenge3_Fire</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Alejandro Sanchez</name>
        <email>alesanpal@gmail.com</email>
    </author>
    <description>Simulated random fire for Mbzirc2020 Challenge 3</description>
</model>
