<?xml version="1.0"?>
<launch>

   <include file="$(find challenge_worlds)/launch/challenge1.launch"/>

   <node name="shared_regions_manager" pkg="shared_regions_manager" type="shared_regions_manager.py"/>
   <node name="connected_agents_info" pkg="connected_agents_info" type="connected_agents_info.py"/>


   <include file="$(find agent_nodes)/launch/uav_agent_c1.launch">
      <arg name="ns" value="dji_f550_c1"/>
      <arg name="uav_id" value="1"/>
      <arg name="color" value="Orange"/>
      <arg name="height" value="2.0"/>
      <arg name="x" value="5"/>
      <arg name="y" value="0"/>
      <arg name="z" value="0"/>
   </include>

   <include file="$(find agent_nodes)/launch/uav_agent_c1.launch">
      <arg name="ns" value="dji_f550_c1"/>
      <arg name="uav_id" value="2"/>
      <arg name="color" value="Indigo"/>
      <arg name="height" value="3.0"/>
      <arg name="x" value="5"/>
      <arg name="y" value="5"/>
      <arg name="z" value="0"/>
   </include>
</launch>
