<?xml version="1.0"?>
<launch>
  <arg name="ns" default="dji_f550_c1" />
  <arg name="uav_id" default="1" />
  <arg name="color" default="Orange" />
  <arg name="height" default="2.0" />
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0" />

  <group ns="$(arg ns)_$(arg uav_id)">
    <param name="tf_prefix" value="$(arg ns)_$(arg uav_id)" />

    <node pkg="px4_bringup" type="spawn_gzmodel.py" name="spawn_gzmodel" output="screen" args="-description_package=uavs_description -model=dji_f550_c1 -id=$(arg uav_id) -material=$(arg color) -backend=light -x $(arg x) -y $(arg y) -z $(arg z) -Y 0"/>

    <!-- <node pkg="tf" type="static_transform_publisher" name="uav_base_to_gripper_tf" args="0 0 0 0 0 0 $(arg ns)_$(arg uav_id)/base_link $(arg ns)_$(arg uav_id)/gripper_link 10"/> -->

    <node pkg="tf" type="static_transform_publisher" name="uav_base_to_camera_tf" args="0.16 0 -0.04 0 0.41887902047863906 0 $(arg ns)_$(arg uav_id)/base_link $(arg ns)_$(arg uav_id)/camera_link 10"/>
    <!-- TODO: Use robot_description + state_publihser? -->

    <node pkg="uav_abstraction_layer" type="server" name="ual" output="screen">
      <param name="uav_id" value="$(arg uav_id)"/>
      <param name="backend" value="light"/>
      <param name="model_name" value="dji_f550_c1_$(arg uav_id)"/>
      <param name="pose_frame_id" value="map"/>
      <param name="ual_server" value="on"/>
      <param name="noise_var" value="0.0"/>
      <param name="max_position_error" value="0"/>
      <rosparam param="home_pose" subst_value="True">[$(arg x), $(arg y), 0]</rosparam>      <!-- [x,y,z] -->
    </node>

    <node name="agent_node" pkg="agent_nodes" type="uav_agent_c1.py" output="screen">
      <param name="uav_ns" value="ual"/>
      <param name="agent_id" value="dji_f550_$(arg uav_id)"/>
      <param name="z_offset" value="0.5" type="double"/>
      <param name="height" value="$(arg height)" type="double"/>
      <param name="global_frame" value="map"/>
      <param name="uav_frame" value="$(arg ns)_$(arg uav_id)/base_link"/>
      <param name="camera_frame" value="$(arg ns)_$(arg uav_id)/camera_link"/>
      <param name="aov" value="40"/>
    </node>

    <!-- <node name="object_detection" pkg="hue_object_detection" type="detection_node"/> -->

  </group>
</launch>
