<launch>
  <arg name="ns" default="agent_1" />
  <arg name="uav_id" default="1" />
  <arg name="color" default="Orange" />
  <arg name="height" default="2.0" />
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0" />
  
  <group ns="$(arg ns)">
    <node pkg="px4_bringup" type="spawn_gzmodel.py" name="spawn_gzmodel" output="screen" args="-description_package=uavs_description -model=dji_f550 -id=$(arg uav_id) -material=$(arg color) -backend=light -x $(arg x) -y $(arg y) -z $(arg z) -Y 0"/>
    <node pkg="tf" type="static_transform_publisher" name="uav_base_to_gripper_tf" args="0 0 0 0 0 0 $(arg ns)/base_link $(arg ns)/gripper_link 10"/>

    <node pkg="uav_abstraction_layer" type="server" name="ual" output="screen">
      <param name="uav_id" value="$(arg uav_id)"/>
      <param name="backend" value="light"/>
      <param name="model_name" value="dji_f550_$(arg uav_id)"/>
      <param name="pose_frame_id" value="map"/>
      <param name="ual_server" value="on"/>
      <param name="noise_var" value="0.0"/>
      <param name="max_position_error" value="0.01"/>
      <rosparam param="home_pose" subst_value="True">[$(arg x), $(arg y), 0]</rosparam><!-- [x,y,z] -->
    </node>

    <!--node name="agent_node" pkg="agent_nodes" type="uav_agent_c2.py" output="screen">
      <param name="uav_ns" value="ual"/>
      <param name="agent_id" value="uav_$(arg uav_id)"/>
      <param name="z_offset" value="0.5" type="double"/>
      <param name="height" value="$(arg height)" type="double"/>
      <param name="global_frame" value="map"/>
      <param name="uav_frame" value="$(arg ns)/base_link"/>
      <param name="gripper_frame" value="$(arg ns)/gripper_link"/>
    </node-->
  </group>
</launch>
