<?xml version="1.0"?>
<launch>
  <arg name="ns" default="uav" />
  <arg name="agent_id" default="1" />
  <arg name="color" default="Orange" />
  <arg name="flight_level" default="2.0" />
  <arg name="x" default="10" />
  <arg name="y" default="0" />
  <arg name="z" default="0" />
  <arg name="yaw" default="0" />
  
  <group ns="$(arg ns)_$(arg agent_id)">

    <node pkg="tf" type="static_transform_publisher" name="uav_base_to_gripper_tf" args="0 0 0 0 0 0 $(arg ns)__$(arg agent_id)/base_link $(arg ns)_$(arg agent_id)/gripper_link 10"/>
    <node pkg="tf" type="static_transform_publisher" name="uav_base_to_camera_tf" args="0 0 -0.275 0 1.57079632679 0 $(arg ns)_$(arg agent_id)/base_link $(arg ns)_$(arg agent_id)/camera_link 10"/> <!-- TODO: Use robot_description + state_publihser? -->

    <!-- <node pkg="px4_bringup" type="spawn_gzmodel.py" name="spawn_gzmodel" output="screen" args="-description_package=uavs_description -model=dji_f550 -id=$(arg agent_id) -material=$(arg color) -backend=light -x $(arg x) -y $(arg y) -z $(arg z) -Y 0"/> -->
    <include file="$(find px4_bringup)/launch/spawn_robot.launch">
        <arg name="id" value="$(arg agent_id)"/>
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="yaw" value="$(arg yaw)"/>
        <arg name="frame_id" value="arena"/>
        <arg name="material" value="$(arg color)"/>
    </include>

    <node pkg="ual_action_server" type="ual_action_server" name="server" output="screen">
      <param name="uav_id" value="$(arg agent_id)"/>
      <param name="pose_frame_id" value="arena"/>
      <param name="home_pose_parent_frame" value="arena"/>
      <!-- <param name="home_pose" value="[10, 10, 10]"/>       -->
      <!-- <rosparam param="home_pose">[20, 20, 20]</rosparam> -->
      <rosparam param="home_pose" subst_value="True">[$(arg x), $(arg y), $(arg z)]</rosparam>
    </node>

    <node name="agent_node" pkg="agent_nodes" type="uav_agent_c2.py" output="screen">
      <!-- <param name="uav_ns" value="ual"/> -->
      <param name="agent_id" value="$(arg agent_id)"/>
      <param name="flight_level" value="$(arg flight_level)"/>
      <!-- <param name="z_offset" value="0.5" type="double"/> -->
      <!-- <param name="height" value="$(arg height)" type="double"/> -->
      <!-- <param name="global_frame" value="map"/> -->
      <!-- <param name="uav_frame" value="$(arg ns)_$(arg agent_id)/base_link"/> -->
      <!-- <param name="gripper_frame" value="$(arg ns)_$(arg agent_id)/gripper_link"/> -->
      <!-- <param name="aov" value="40"/> -->
    </node>

    <!-- <node name="object_detection" pkg="hue_object_detection" type="detection_node" output="screen"/> -->

  </group>
</launch>
