<?xml version="1.0"?>
<launch>

    <node name="agent_node" pkg="agent_nodes" type="ugv_agent_c2.py" output="screen">
        <param name="ugv_ns" value="ugv_1/ual"/>
        <param name="agent_id" value="ugv_1"/>
        <param name="z_offset" value="0.15" type="double"/>
        <param name="global_frame" value="map"/>
        <param name="ugv_frame" value="base_link"/>
        <param name="gripper_frame" value="ur5_ee_link"/>
    </node>

</launch>
