<?xml version="1.0"?>

<launch>
    <arg name="ns" default=""/>

    <include file="$(find atrvjr)/launch/atrvjr_hw_no_gps.launch" >
        <arg name="ns" value="$(arg ns)"/>
    </include>


    <include file="$(find atrvjr)/launch/novatel.launch" >
        <arg name="ns" value="$(arg ns)/novatel"/>
        <arg name="serialPort" value="/dev/ttyUSB1"/>
        <arg name="gps_default_logs_period" value="0.05"/>
        <arg name="psrpos_default_logs_period" value="0.05"/>
    </include>



    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" clear_params="true">
        <rosparam command="load" file="$(find robot_localization)/params/navsat_transform_template.yaml" />
        <remap from="imu/data" to="/atrvjr/mpu/imu/absolute_data"/>
        <remap from="gps/fix" to="/novatel/novatel_node/gps_fix_psr"/>
        <remap from="odometry/filtered" to="odometry/filtered"/>


    </node>

</launch>
