<launch>
    <arg name="ns" default="/garmin35lp"/>
    <arg name="serialPort" default="/dev/ttyUSB0"/>
    <arg name="frame_id" default="garmin"/>

    <node ns="$(arg ns)" name="garmin35lp_nmea_node" pkg="nmea_navsat_driver" type="nmea_serial_driver" output="screen" required="true">
        <param name="port" value="$(arg serialPort)"/>
        <param name="baud" value="19200" />
        <param name="frame_id" value="$(arg frame_id)" />
    </node>
</launch>
