<launch>
    <arg name="ns" default="/atrvjr/mpu"/>
    <arg name="port" default="/dev/ttyACM0"/>
    <arg name="time_offset_in_seconds" default="0.0"/>
    <arg name="broadcast_tf" default="false"/>
    <arg name="imu_frame_id" default="mpuimu_frame"/>
    <arg name="frame_id" default="mpuimu_frame"/>
    <arg name="tf_parent_frame_id" default="imu_base"/>
    <arg name="tf_frame_id" default="mpuimu_frame"/>
    # !! THESE VALUES SAY STANDARD DEVIATION BUT THEY ARE VARIANCES !!
    # the lin acc and ang vel were (well?) computed from data sheet values
    <arg name="linear_acceleration_stddev" default="0.00102"/>    <!--"0.000013484"/>-->
    <arg name="angular_velocity_stddev" default="0.00000081"/>        <!--"0.00000081"/>-->
    <arg name="orientation_stddev" default="0.0580526"/>

    <node ns="$(arg ns)" name="mpu6050_serial_to_imu" pkg="mpu6050_serial_to_imu" type="mpu6050_serial_to_imu_node" output="screen" required="true">
        <param name="port" value="$(arg port)"/>
        <param name="time_offset_in_seconds" value="$(arg time_offset_in_seconds)"/>
        <param name="broadcast_tf" value="$(arg broadcast_tf)"/>
        <param name="imu_frame_id" value="$(arg imu_frame_id)"/>
        <param name="frame_id" value="$(arg frame_id)"/>
        <param name="tf_parent_frame_id" value="$(arg tf_parent_frame_id)"/>
        <param name="tf_frame_id" value="$(arg tf_frame_id)"/>
        <param name="linear_acceleration_stddev" value="$(arg linear_acceleration_stddev)"/>
        <param name="angular_velocity_stddev" value="$(arg angular_velocity_stddev)"/>
        <param name="orientation_stddev" value="$(arg orientation_stddev)"/>
    </node>

</launch>
