<?xml version="1.0"?>
<launch>
    <arg name="agent_id"              default="1"/>
    <!-- Debug viewer for local use and debug topic publisher enable -->
    <arg name="debug_view"            default="false"/>
    <arg name="debug_publisher"       default="false"/>
    <arg name="rate"                  default="10"/>
    <arg name="enable_node"           default="false"/>

    <arg name="variance_x"            default="1"/>         <!-- meters -->
    <arg name="variance_y"            default="1"/>         <!-- meters -->
    <arg name="variance_z"            default="1"/>         <!-- meters -->
    <arg name="variance_pitch"        default="0.0523"/>    <!-- rad - (3º as defaul value) -->
    <arg name="variance_roll"         default="0.0523"/>    <!-- rad - (3º as defaul value) -->
    <arg name="variance_yaw"          default="0.0523"/>    <!-- rad - (3º as defaul value) -->

    <node pkg="hue_object_detection" name="ugv_wall_detector" type="ugv_wall_detector.py" respawn="false" output="screen">
        <param name="debug_view"      value="$(arg debug_view)"/>
        <param name="debug_publisher" value="$(arg debug_publisher)"/>
        <param name="uav_id"          value="$(arg agent_id)"/>
        <param name="enable_node"     value="$(arg enable_node)"/>
        <param name="rate"            value="$(arg rate)"/>
        <param name="sigma_x"         value="$(arg variance_x)"/>
        <param name="sigma_y"         value="$(arg variance_y)"/>
        <param name="sigma_z"         value="$(arg variance_z)"/>
        <param name="sigma_pitch"     value="$(arg variance_pitch)"/>
        <param name="sigma_roll"      value="$(arg variance_roll)"/>
        <param name="sigma_yaw"       value="$(arg variance_yaw)"/>
    </node>
</launch>
