<?xml version="1.0"?>
<launch>
  <arg name="robot_model" default="mbzirc2020" />
  <arg name="agent_id" default="1" />
  <arg name="mode" default="real" />
  <arg name="laser" default="yes" />

  <group ns="$(arg robot_model)_$(arg agent_id)">
    <node pkg="tf2_ros" type="static_transform_publisher" name="uav_base_to_gripper_tf" args="0 0 -0.3 0 0 0 $(arg robot_model)_$(arg agent_id)/base_link $(arg robot_model)_$(arg agent_id)/gripper_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="uav_base_to_sf11_tf" args="-0.28 0.28 -0.05 0 1.57079632679 0 $(arg robot_model)_$(arg agent_id)/base_link $(arg robot_model)_$(arg agent_id)/sf11_link" />
    <node if="$(eval laser == 'yes')" pkg="tf2_ros" type="static_transform_publisher" name="uav_base_to_laser_tf" args="-0.19 0 0.17 0 0 0 $(arg robot_model)_$(arg agent_id)/base_link $(arg robot_model)_$(arg agent_id)/laser_link" />

    <node if="$(eval mode == 'real')" name="actuators" pkg="actuators_system" type="actuators_system_node" respawn="true">
      <param name="serial_path" value="/dev/actuators"/>
      <param name="serial_baudrate" value="9600"/>
    </node>

    <node if="$(eval mode == 'real')" name="sf11" pkg="sf11_driver" type="sf11_driver_node" output="screen" respawn="true">
      <param name="frame_id" type="string" value="$(arg robot_model)_$(arg agent_id)/sf11_link"/>
      <param name="serial_path" value="/dev/sf11"/>
      <param name="serial_baudrate" value="115200"/>
      <param name="publish_rate" value="20"/>
    </node>

    <node if="$(eval mode == 'sim')" name="sf11" pkg="sf11_driver" type="sf11_sim_node" output="screen">
      <param name="frame_id" type="string" value="$(arg robot_model)_$(arg agent_id)/sf11_link"/>
    </node>

    <node if="$(eval mode == 'real' and laser == 'yes')" name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" output="screen" respawn="true">
      <param name="serial_port"         type="string" value="/dev/rplidar"/>
      <param name="serial_baudrate"     type="int"    value="256000"/>
      <param name="frame_id"            type="string" value="$(arg robot_model)_$(arg agent_id)/laser_link"/>
      <param name="inverted"            type="bool"   value="false"/>
      <param name="angle_compensate"    type="bool"   value="true"/>
      <param name="scan_mode"           type="string" value="Stability"/>
    </node>

    <node if="$(eval laser == 'yes')" pkg="scan_passage_detection" type="passage_detection_node" name="scan_detection" output="screen">
      <param name="uav_id"              type="string" value="$(arg agent_id)"/>
    </node>  
  </group>
</launch>
