<?xml version="1.0"?>
<launch>

    <arg name="mode" default="sim"/>
    <arg name="robot_model" default="mbzirc2020"/>
    <arg name="arena_yaw" default="0.01"/>

    <group if="$(eval mode == 'sim')">
        <!-- Launch Gazebo simulation -->
        <rosparam param="/use_sim_time">true</rosparam>
        <include file="$(find challenge_worlds)/launch/challenge3.launch"/>
    </group>

    <!-- Use tf *2* to define map to arena, rotating only yaw: args = x y z yaw pitch roll frame_id child_frame_id -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_arena_tf" args="0 0 0 $(arg arena_yaw) 0 0 map arena" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="arena_to_wall_tf" args="10 10 0 0 0 0 arena wall" />

    <node name="target_estimator" pkg="target_estimation" type="estimation_node" output="screen">
        <param name="frequency" value="1.0"/>
        <param name="estimator" value="simple_clustering"/>
        <param name="robot_ns" value="$(arg robot_model)"/>
    </node>

    <node name="shared_regions_manager" pkg="shared_regions_manager" type="shared_regions_manager.py"/>

    <!-- TODO:  All params from rosparam? -->
    <include file="$(find mbzirc_launchers)/launch/uav_agent_c3.launch">
        <arg name="robot_model" value="$(arg robot_model)"/>
        <arg name="agent_id" value="1"/>
        <arg name="color" value="Orange"/>
        <arg name="flight_level" value="10.0"/>
        <arg name="x" value="9"/>
        <arg name="y" value="5"/>
        <arg name="z" value="0"/>
        <arg name="yaw" value="1.570796327"/>
        <arg name="ual_backend" value="mavros"/>
    </include>

    <!-- <include file="$(find mbzirc_launchers)/launch/uav_agent_c3.launch">
        <arg name="robot_model" value="$(arg robot_model)"/>
        <arg name="agent_id" value="2"/>
        <arg name="color" value="Indigo"/>
        <arg name="flight_level" value="5.0"/>
        <arg name="x" value="11"/>
        <arg name="y" value="5"/>
        <arg name="z" value="0"/>
        <arg name="yaw" value="1.570796327"/>
        <arg name="ual_backend" value="mavros"/>
    </include> -->

</launch>
