<?xml version="1.0"?>
<launch>

    <arg name="bag_dir" default="/home/grvc/bags"/> 
    <arg name="bag_name" default="MBZIRC_C2"/>
    <arg name="robot_ns" default="/mbzirc2020_1"/>

    <node pkg="rosbag" type="record" name="rosbag_record_uav" output="screen"
          args="-o $(arg bag_dir)/$(arg bag_name)

          $(arg robot_ns)/camera/color/image_raw
          $(arg robot_ns)/camera/color/image_rect_color
          $(arg robot_ns)/camera/color/camera_info
          $(arg robot_ns)/camera/aligned_depth_to_color/image_raw
          $(arg robot_ns)/camera/aligned_depth_to_color/camera_info

          $(arg robot_ns)/sf11

          $(arg robot_ns)/ual/pose
          $(arg robot_ns)/ual/state
          $(arg robot_ns)/mavros/state
          $(arg robot_ns)/mavros/global_position/global
          $(arg robot_ns)/mavros/local_position/pose
          $(arg robot_ns)/mavros/local_position/velocity_body
          $(arg robot_ns)/mavros/setpoint_position/local
          $(arg robot_ns)/mavros/setpoint_velocity/cmd_vel
          $(arg robot_ns)/mavros/rc/in

          /tf_static
          /tf"
    />

</launch>
