<?xml version="1.0"?>
<launch>
  <arg name="robot_model" default="mbzirc2020" />
  <arg name="agent_id" default="1" />
  <arg name="flight_level" default="2.0" />
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0" />

  <group ns="$(arg robot_model)_$(arg agent_id)">
    <param name="flight_level" value="$(arg flight_level)"/>  <!-- TODO: Makes no sense here! -->

    <node pkg="robot_action_servers" type="uav_action_server" name="server" output="screen">
      <param name="tf_prefix" value="$(arg robot_model)_$(arg agent_id)" />
      <param name="uav_id" value="$(arg agent_id)"/>
      <param name="pose_frame_id" value="arena"/>
      <param name="home_pose_parent_frame" value="arena"/>
      <param name="ual_backend" value="mavros"/>
      <param name="model_name" value="$(arg robot_model)_$(arg agent_id)"/>
      <rosparam param="home_pose" subst_value="True">[$(arg x), $(arg y), $(arg z)]</rosparam>
      <param name="position_th" value="1.00"/>
      <param name="orientation_th" value="0.75"/>
      <param name="hold_pose_time" value="0"/>
    </node>
  </group>
</launch>