<launch>
    <arg name="ns" default="/novatel"/>
    <arg name="serialPort" default="/dev/ttyUSB0"/>

    <!-- Requests BESTUTMB ONTIME and BESTVELB ONTIME -->
    <!-- https://docs.novatel.com/OEM7/Content/Logs/BESTUTM.htm -->
    <!-- https://docs.novatel.com/OEM7/Content/Logs/BESTVEL.htm -->
    <arg name="gps_default_logs_period" default="0.05"/>

    <!-- Requests INSPVAB ONTIME INSCOVB ONTIME -->
    <!-- https://docs.novatel.com/OEM7/Content/SPAN_Logs/INSPVA.htm -->
    <!-- https://www.novatel.com/assets/Documents/Manuals/OM-20000144UM.pdf -->
    <arg name="span_default_logs_period" default="0.0"/>

    <!-- Requests RANGECMPB ONTIME -->
    <!-- https://docs.novatel.com/OEM7/Content/Logs/RTKPOS.htm -->
    <arg name="range_default_logs_period" default="0.0"/>

    <!-- Requests PSRPOSB ONTIME -->
    <!-- https://docs.novatel.com/OEM7/Content/Logs/PSRPOS.htm -->
    <arg name="psrpos_default_logs_period" default="0.05"/>

    <!-- Start the novatel node -->
    <node ns="$(arg ns)" pkg="novatel" type="novatel_node" name="novatel_node" output="screen"
    required="true">
        <!-- Configure how to connect to the novatel -->
        <param name="port" value="$(arg serialPort)"/>
        <param name="baudrate" value="115200" />

        <!-- Commands for ports not connected to the present roscore -->
        <!-- <param name="configure_port" value="COM2,9600,RTCM,NONE" /> -->

        <!-- Remapping arguments are not used in this driver -->
        <param name="odom_topic" value="gps_odom" />
        <param name="ephemeris_topic" value="novatel_ephem" />
        <param name="dual_band_range_topic" value="novatel_range" />

        <param name="log_commands" value="" />
        <!-- <param name="log_commands" value="BESTUTMB ONTIME 1.0; BESTVELB ONTIME 1.0" /> -->

        <!-- Logs periods are in seconds -->
        <param name="gps_default_logs_period" value="$(arg gps_default_logs_period)" />
        <param name="span_default_logs_period" value="$(arg span_default_logs_period)" />
        <param name="range_default_logs_period" value="$(arg range_default_logs_period)" />
        <param name="psrpos_default_logs_period" value="$(arg psrpos_default_logs_period) " />

        <!-- true/false to log ephem ONNEW -->
        <param name="ephem_log" value="true" />
    </node>

</launch>

