<?xml version="1.0" ?>
<model>
    <name>L_wooden_frame</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Alejandro Sanchez Palma</name>
        <email>alesanpal@gmail.com</email>
    </author>
    <description>L Line for CH2 Wall</description>
</model>
