<?xml version="1.0"?>
<launch>

	<arg name="path" default="1"/>
	<arg name="height" default="3.0"/>
	<arg name="uav_id" default="6"/>

	<node name="c3_dispatcher_ground" pkg="robot_tasks" type="c3_ground.py" respawn="false" output="screen">
		<param name="uav_id" type="string" value="$(arg uav_id)"/>
		<param name="conf_file" value="$(find mbzirc_launchers)/config/conf_c3_ground_$(arg path).yaml" />
		<param name="height" value="$(arg height)"/>
	</node>

</launch>
