<!-- 
The MIT License (MIT)
Copyright (c) 2016 GRVC University of Seville

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
-->

<!-- THIS SCRIPT LAUNCHES HECTOR SLAM AFTER MAVROS IS COMPLETED -->
<launch>

 <arg name="geotiff_map_file_path" default="$(find hector_geotiff)/maps"/>
 <param name="/use_sim_time" value="true"/>
 <node pkg="rviz" type="rviz" name="rviz"
   args="-d $(find hector_slam_launch)/rviz_cfg/mapping_demo.rviz"/>
 <include file="$(find hector_mapping)/launch/mapping_default.launch">
   <arg name="base_frame" value="mbzirc2020_1/base_link"/>
   <arg name="odom_frame" value="mbzirc2020_1/base_link"/>
   <arg name="scan_topic" value="mbzirc2020_1/scan"/>
 </include>
 <include file="$(find hector_geotiff)/launch/geotiff_mapper.launch">
   <arg name="trajectory_source_frame_name" value="/mbzirc2020_1/base_link"/>
   <arg name="map_file_path" value="$(arg geotiff_map_file_path)"/>
 </include>
<node pkg="tf2_ros" type="static_transform_publisher" name="map_base_link_broadcaster" args="0 0 0 0 0 0 /map /mbzirc2020_1/odom"/>
<node pkg="tf2_ros" type="static_transform_publisher" name="map_base_link_broadcaster1" args="0 0 0 0 0 0 /mbzirc2020_1/odom /mbzirc2020_1/base_link"/>


<node pkg="tf" type="static_transform_publisher" name="base_frame_to_laser_broadcaster" args="0 0 0 0 0 0 /mbzirc2020_1/base_link /mbzirc2020_1/laser_link 50"/>
</launch>

