<?xml version="1.0"?>
<launch>
  <!-- TARGET DRONE CONFIG  -->
  <arg name="x"               value="1"/>
  <arg name="y"               value="1"/>
  <arg name="z"               value="0"/>
  <arg name="R"               value="0"/>
  <arg name="P"               value="0"/>
  <arg name="Y"               value="0"/>
  <arg name="speed"           value="5"/>
  <arg name="trajectory_a"    value="40"/>
  <arg name="trajectory_b"    value="4"/>

  <!-- vehicle model and world -->
  <arg name="est"           default="ekf2"/>
  <arg name="vehicle"       default="iris"/>

  <!-- Challenge 1 scenario paramaters -->
  <arg name="balloon_zone_x_size"   value="80"/>
  <arg name="balloon_zone_y_size"   value="40"/>
  <arg name="max_balloons_height"   value="4"/>
  <arg name="csv_path"              value="$(find challenge_worlds)/config/dist1.csv"/>
  <arg name="deploy_zone_size"      value="2"/>
  <arg name="landing_zone_size"     value="10"/>
  <arg name="deploy_zone_x"         value="43"/>
  <arg name="deploy_zone_y"         value="6"/>
  <arg name="landing_zone_x"        value="50"/>
  <arg name="landing_zone_y"        value="6"/>

  <!-- gazebo configs -->
  <arg name="gui"            default="true"/>
  <arg name="debug"          default="false"/>
  <arg name="verbose"        default="true"/>
  <arg name="paused"         default="true"/>
  <arg name="respawn_gazebo" default="false"/>

  <include file="$(find challenge_worlds)/launch/arena.launch">
    <arg name="balloon_zone_x_size"   value="$( arg balloon_zone_x_size)"/>
    <arg name="balloon_zone_y_size"   value="$( arg balloon_zone_y_size)"/>
    <arg name="max_balloons_height"   value="$( arg max_balloons_height)"/>
    <arg name="csv_path"              value="$( arg csv_path)"/>
    <arg name="deploy_zone_size"      value="$( arg deploy_zone_size)"/>
    <arg name="landing_zone_size"     value="$( arg landing_zone_size)"/>
    <arg name="deploy_zone_x"         value="$( arg deploy_zone_x)"/>
    <arg name="deploy_zone_y"         value="$( arg deploy_zone_y)"/>
    <arg name="landing_zone_x"        value="$( arg landing_zone_x)"/>
    <arg name="landing_zone_y"        value="$( arg landing_zone_y)"/>
  </include>

  <include file="$(find px4_bringup)/launch/spawn_robot.launch" ns="target_drone">
    <arg name="description_package" value="uavs_description"/>
    <arg name="robot_model" value="iris_target_drone"/>
    <arg name="material" default="DarkGrey"/>
    <arg name="id" value="5"/>
    <arg name="mode" default="sitl"/>
    <arg name="x" value="1.0"/>
    <arg name="y" value="1.0"/>
    <arg name="z" value="0.0"/>
    <arg name="yaw" value="0"/>
  </include>

  <node pkg="uav_abstraction_layer" type="server" name="ual" ns="target_drone" output="screen">
    <param name="uav_id" value="5"/>
  </node>

  <!-- Use tf to define eight path, args = x y z yaw pitch roll frame_id child_frame_id period_in_ms -->
  <node pkg="tf" type="static_transform_publisher" name="map_to_eight_tf" args="50 30 10 0.1 0.2 0 map eight_path 100"/>
  <node pkg="challenge_worlds" type="follow_eight.py" name="follow" ns="target_drone" output="screen"/>

  <include file="$(find ch1_score_manager)/launch/ch1_score_manager.launch">
    <arg name="drones_number" value="2"/>
    <arg name="balloons_number" value="6"/>
    <arg name="drones_radio" value="0.4"/>
    <arg name="balloon_radio" value="0.3"/>
    <arg name="checker_rate" value="50.0"/>
    <arg name="safety_factor" value="1.1"/>
  </include>

</launch>
