<?xml version="1.0" ?>
<sdf version="1.4" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <env name="GAZEBO_RESOURCE_PATH" value="$(find challenge_worlds)" />
    
<!-- Global yaw: to change the global position of all the objects in the world -->
<xacro:property name="yaw" value="0.0"/>
<!-- Properties for every object in the world -->
 <!-- 0 => X position , 1 => Y position , 2 => Z position , 3 => Item yaw -->
<xacro:property name="f1" value="${[15,27,0,0]}"/> 
<xacro:property name="f2" value="${[33,16,0,0]}"/> 
<xacro:property name="f3" value="${[32,50,0,0]}"/> 
<xacro:property name="f4" value="${[26,31,0,0]}"/> 
<xacro:property name="f5" value="${[25,31,15,0]}"/> 
<xacro:property name="b" value="${[25,30,0,0]}"/> 
<xacro:property name="g" value="${[25,30,0,0]}"/> 
   <!-- The following is the geometric expresion for an axis rotation -->
   <!-- X'= X*cos(yaw)-Y*sin(yaw) -->
   <!-- Y'= X*sin(yaw)+Y*cos(yaw)  -->
  <world name="default">
    <model name="ground_plane_asfalt">
      <include>
        <uri>model://ground_plane_asfalt</uri>
      </include>
      <pose frame=''>${g[0]*cos(yaw)-g[1]*sin(yaw)} ${g[0]*sin(yaw)+g[1]*cos(yaw)} ${g[2]} 0 0 ${g[3]+yaw} </pose>
    </model>
    <model name="cubewithflames_1">
      <include>
        <uri>model://cubewithflames</uri>
      </include>
      <pose frame=''>${f1[0]*cos(yaw)-f1[1]*sin(yaw)} ${f1[0]*sin(yaw)+f1[1]*cos(yaw)} ${f1[2]} 0 0 ${f1[3]+yaw} </pose>
    </model>
    <model name="cubewithflames_2">
      <include>
      <uri>model://cubewithflames</uri>
      </include>
      <pose frame=''>${f2[0]*cos(yaw)-f2[1]*sin(yaw)} ${f2[0]*sin(yaw)+f2[1]*cos(yaw)} ${f2[2]} 0 0 ${f2[3]+yaw} </pose>
    </model>
    <model name="cubewithflames_3">
      <include>
        <uri>model://cubewithflames</uri>
      </include>
      <pose frame=''>${f3[0]*cos(yaw)-f3[1]*sin(yaw)} ${f3[0]*sin(yaw)+f3[1]*cos(yaw)} ${f3[2]} 0 0 ${f3[3]+yaw} </pose>
    </model>
    <model name="cubewithflames_4">
      <include>
        <uri>model://cubewithflames</uri>
      </include>
      <pose frame=''>${f4[0]*cos(yaw)-f4[1]*sin(yaw)} ${f4[0]*sin(yaw)+f4[1]*cos(yaw)} ${f4[2]} 0 0 ${f4[3]+yaw} </pose>
    </model>
    <model name="cubewithflames_5">
      <include>
        <uri>model://cubewithflames</uri>
      </include>
      <pose frame=''>${f5[0]*cos(yaw)-f5[1]*sin(yaw)} ${f5[0]*sin(yaw)+f5[1]*cos(yaw)} ${f5[2]} 0 0 ${f5[3]+yaw} </pose>
    </model>
    <model name="building">
      <include>
        <uri>model://BuildingC3</uri>
      </include>
      <pose frame=''>${b[0]*cos(yaw)-b[1]*sin(yaw)} ${b[0]*sin(yaw)+b[1]*cos(yaw)} ${b[2]} 0 0 ${b[3]+yaw} </pose>
    </model>
    
    <light name='sun' type='directional'>
      <cast_shadows>1</cast_shadows>
      <pose frame=''>0 0 10 0 -0 0</pose>
      <diffuse>0.8 0.8 0.8 1</diffuse>
      <specular>0.1 0.1 0.1 1</specular>
      <attenuation>
        <range>10</range>
        <constant>0.9</constant>
        <linear>0.01</linear>
        <quadratic>0.001</quadratic>
      </attenuation>
      <direction>-0.5 0.5 -1</direction>
    </light>

    <gui fullscreen='0'>
      <camera name='user_camera'>
        <pose frame=''>-4.01588 -6.89701 14.3505 -0 0.40453 0.863487</pose>
        <view_controller>orbit</view_controller>
        <projection_type>perspective</projection_type>
      </camera>
    </gui>
    
    <gravity>0 0 -9.8</gravity>
    <magnetic_field>6e-06 2.3e-05 -4.2e-05</magnetic_field>
    <atmosphere type='adiabatic'/>
    <wind>
      <linear_velocity>0.1 0.1 0</linear_velocity>
    </wind>
    <physics name='default_physics' default='0' type='ode'>
      <max_step_size>0.004</max_step_size>
      <real_time_factor>1</real_time_factor>
      <real_time_update_rate>250</real_time_update_rate>
    </physics>
    <scene>
      <sky>
        <clouds>
          <speed>12</speed>
          <mean_size>0.01</mean_size>
        </clouds>
      </sky>
      <shadows>1</shadows>
      <ambient>0.4 0.4 0.4 1</ambient>
      <background>0.7 0.7 0.7 1</background>
    </scene>
    <spherical_coordinates>
      <surface_model>EARTH_WGS84</surface_model>
      <latitude_deg>0</latitude_deg>
      <longitude_deg>0</longitude_deg>
      <elevation>0</elevation>
      <heading_deg>0</heading_deg>
    </spherical_coordinates>

    <plugin name='wind' filename='libWindPlugin.so'>
      <horizontal>
        <magnitude>
          <time_for_rise>10</time_for_rise>
          <sin>
            <amplitude_percent>0.05</amplitude_percent>
            <period>60</period>
          </sin>
          <noise type='gaussian'>
            <mean>0</mean>
            <stddev>0.0002</stddev>
          </noise>
        </magnitude>
        <direction>
          <time_for_rise>30</time_for_rise>
          <sin>
            <amplitude>5</amplitude>
            <period>20</period>
          </sin>
          <noise type='gaussian'>
            <mean>0</mean>
            <stddev>0.03</stddev>
          </noise>
        </direction>
      </horizontal>
      <vertical>
        <noise type='gaussian'>
          <mean>0</mean>
          <stddev>0.03</stddev>
        </noise>
      </vertical>
    </plugin>

   </world>
</sdf>
