<?xml version="1.0"?>
<launch>

    <!-- NODE to launch parser  -->
	<node name="parser" pkg="parser_c2" type="parser.py" respawn="false" output="screen">
   
		<param name="UGV_data" value= "$(find parser_c2)/src/Wall1.txt" />
		<param name="UAV_data" value= "$(find parser_c2)/src/Wall2.txt" />
	</node>
</launch>